<table class="table table-striped">
  <thead>
    <tr>
      <th>Number of Products</th>
      <th>Number of Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @total_products%></td>
      <td><%= @total_categories%></td>
    </tr> 
  </tbody>  
</table>


